@font-face {
    font-family: inter;
    src:url(https://fonts.googleapis.com/css?family=Inter);
}
html,body{
background-color: rgb(78, 118, 81);
color:rgb(226, 226, 207);
font-family: 'inter';
height: 100%;
width:100%;
overflow-x: hidden;

}
h1{
color:rgb(226, 226, 207);
font-family: 'inter';
font-size: 9vw;
font-weight: bold;
}
#works{
border: rgb(226, 226, 207); 
align-items: center;  
}

img {
align-content: center;
border:3px;
border-color: rgb(226, 226, 207);
display: block;
height: 50vw;
margin-left: auto;
margin-right: auto;
min-height: 50px;



}


.image{  

flex-basis: 40%;
float:left
}
.text{
color:rgb(226, 226, 207);
font-family: 'inter';
font-size: 475%;
font-weight: bold;
padding-left: 50px;  
;
}
h2{
color:rgb(226, 226, 207);
font-family: "inter";
font-size: 9vw;
font-weight: bold;
}

p{
color:rgb(226, 226, 207);
font-family: 'inter';
font-size: 85%;
font-weight: 600;
padding-left: 3%; /*line it up*/
padding-right: 3%;
}

h3{
align-self: center;
color:rgb(226, 226, 207);
font-family: 'inter';
font-size: 10vw;
font-weight: bold;
margin: 43px;   
}

.center{
color:rgb(226, 226, 207);
font-family: 'inter';
font-size: 100%;
font-weight: 300;
text-align: center;
}
.Home {
background-color : rgb(78, 118, 81);
border-color: rgb(226, 226, 207);
border-radius: 4px;
color: rgb(226, 226, 207);
padding: 10px 20px;
}

#mybutton {
bottom: 10px;
position: fixed;
right: 10px;
}